@media screen and (max-width: 1023.98px) {
  .container {
    width: 100%;
    padding: 0 100px;
  }
  .header .menu_toggle {
    display: block;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .header {
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
  }

  .header .menu {
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    border: none;
    z-index: 100;
    width: 300px;
    height: 100vh;
    margin-top: 0;
    right: 0;
    top: 0;
    justify-content: center;
    background-color: rgba(255, 255, 255);
    transform: translateX(110%);
    transition: 1s;
    opacity: 0;
    visibility: hidden;
  }
  .header .menu .nav-item {
    color: black;
    margin: 20px 0;
    font-size: 20px;
  }
  .header .menu .fa-times {
    display: block;
    position: fixed;
    font-size: 30px;
    top: 10px;
    right: 20px;
  }
  .header .menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  .subnav,
  .subnav2 {
    display: none;
  }

  .subnav-mobile,
  .subnav2-mobile {
    position: relative;
    display: block;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    height: 0;
    gap: unset;
  }

  .subnav-mobile .subnav-item,
  .subnav2-mobile .subnav-item {
    padding: 10px;
    margin: unset;
    font-size: 14px;
  }

  .subnav-mobile.active {
    height: 200px;
    opacity: 1;
    visibility: visible;
  }
  .subnav2-mobile.active {
    height: 200px;
    opacity: 1;
    visibility: visible;
  }

  /* Post */
  .posts {
    width: 100%;
    height: fit-content;
    margin: 70px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 30px;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
    margin-top: 50px;
  }
  .footer-item {
    margin: 20px 0 !important;
    margin-top: 25px;
  }
}

@media screen and (max-width: 767.98px) {
  .posts {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: fit-content;
    margin-top: 50px;
  }

  .desc {
    width: 100% !important;
  }
}
